<?xml version="1.0" encoding="utf-8"?>
    <activity android:name=".MainActivity"/>
    <activity android:name=".ActivityLogin">
    <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
    </activity>
    <activity android:name=".ActivityRegister"/>